<div class="full-width splash welcome-splash-container">
	<div class="container splash-inner" id="welcome-splash">
		<div class="row center">
			<div class="span8 offset2">
				<h1 class="title light">Welcome</h1><BR/><BR/><BR/><BR/>
				<h3 style="font-family:Lato;font-weight:100">Hi, I'm Sam, a full-stack web developer with an interest in understanding how technology can be used to combat social problems, improve accessibility and educate.</h3>
			</div>
		</div>
	</div>
</div>

<div class="full-width splash projects-splash-container">
	<div id="projects-title-arrows-wrapper">
		<div class="container splash-inner" id="projects-splash">
			<div class="row-fluid center">
				<div class="span1">
					<span class="project-scroll project-scroll-back"></span>
				</div>
				<div class="span10">
					<h1 class="title dark"><a href="/#/projects">Projects</a></h1>
				</div>
				<div class="span1">
					<span class="project-scroll project-scroll-forward"></span>
				</div>
			</div>
		</div>
	</div>
	<div id="projects-splash-wrapper">
		<% if (projects.length == 0) { %>
			<h2>No Projects</h2>
		<% } else { %>
			<% for (var i=0;i<4;i++) { %>
			<%= '<div class="project-wrapper" id="project' + i + '" style="left:' + (i*25) + '%">' %>
					<div class="container project-container">
						<div class="row">
							<div class="span10 offset1 center">
								<% console.log(projects) %>
								<% if (!projects[i]) { %>
									<h2>No such project</h2>
								<% } else { %>
									<div class="project-img-wrapper">
										<%= '<a href="/#/projects/' + projects[i].permalink + '"><img class="project-img" src="' + projects[i].image + '" alt="' + projects[i].title + '"/></a>' %>
									</div>
								<% } %>
							</div>
						</div>
					</div>
				</div>
			<% } %>
		<% } %>
	</div>
</div>

<div class="full-width splash cv-splash-container">
	<div class="container splash-inner" id="cv-splash">
		<div class="row">
			<a href="/#/cv">
				<div class="span12 home-cv">
					<div class="home-cv-inner">
						<div class="cv-top">
							<div class="cv-top-left">
								<div>
									<h1 style="margin:0px;line-height:30px;">Samuel Murray</h1>
									<p style="margin-top:10px;font-family:Lato;font-size:18px;text-transform:uppercase;">Full-stack Web Developer</p>
								</div>
							</div>
							<div class="cv-top-right">
								<div>
									<h4 style="margin:0;margin-top:5px">samueljmurray.herokuapp.com</h4>
									<p style="margin:0px">samueljmurray@googlemail.com</p>
									<p style="font-family:Lato">+44 7970 896 660 | LONDON</p>
								</div>
							</div>
						</div>
						<div class="cv-experience">
							<h3>Experience</h3>
							<% $.each(cv[0].experience,function(key,ex){ %>
								<div class="cv-entry">
									<div class="cv-left">
										<div>
											<%= '<p><strong>' + ex.title + '</strong></p>' %>
											<%= '<p style="font-family:Lato;text-transform:uppercase;">' + ex.date + '</p>' %>
										</div>
									</div>
									<div class="cv-right">
										<div>
											<%= '<ul>' + ex.description + '</ul>' %>
										</div>
									</div>
								</div>
							<% }); %>
						</div>
						<div class="cv-education">
							<h3>Education</h3>
							<% $.each(cv[0].education,function(key,ed){ %>
								<div class="cv-entry">
									<div class="cv-left">
										<div>
											<%= '<p><strong>' + ed.institution + '</strong></p>' %>
											<%= '<p style="font-family:Lato;text-transform:uppercase;">' + ed.date + '</p>' %>
										</div>
									</div>
									<div class="cv-right">
										<div>
											<%= '<p>' + ed.qualification + '</p>' %>
										</div>
									</div>
								</div>
							<% }); %>
						</div>
						<div class="cv-tech">
							<h3>Technologies</h3>
							<dl class="dl-horizontal">
							<% $.each(cv[0].technologies,function(dt,dd){ %>
								<%= '<dt>' + dt + '</dt>' %>
								<%= '<dd>' + dd + '</dd>' %>
							<% }); %>
							</dl>
						</div>
						<div class="cv-vol-interests">
							<div class="cv-left left">
								<h3>Voluntary</h3>
								<ul>
									<% $.each(cv[0].voluntary,function(key,p){ %>
										<%= '<li>' + p + '</li>' %>
									<% }); %>
								</ul>
							</div>
							<div class="cv-right">
								<div style="margin-left:20px">
									<h3>Interests</h3>
									<ul>
										<% $.each(cv[0].interests,function(key,p){ %>
											<%= '<li>' + p + '</li>' %>
										<% }); %>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="zig-zag-bottom-under"></div>
	<div class="zig-zag-bottom-over"></div>
</div>

<div class="full-width splash blog-splash-container">
	<div class="container splash-inner" id="blog-splash">
		<div class="row center">
			<div class="span12">
				<h1 class="title dark">Blog</h1>
				<h4 class="center" style="margin-top:70px">In Progress!</h4>
			</div>
		</div>
	</div>
</div>