<div class="full-width splash welcome-splash-container">
	<div class="container-fluid splash-inner" id="welcome-splash">
		<div class="row-fluid center">
			<div class="span12">
				<h1 class="title light">Welcome</h1>
			</div>
		</div>
	</div>
</div>

<div class="full-width splash projects-splash-container">
	<div id="projects-title-arrows-wrapper">
		<div class="container-fluid splash-inner" id="projects-splash">
			<div class="row-fluid center">
				<div class="span1">
					<span class="project-scroll project-scroll-back"></span>
				</div>
				<div class="span10">
					<h1 class="title dark">Projects</h1>
				</div>
				<div class="span1">
					<span class="project-scroll project-scroll-forward"></span>
				</div>
			</div>
		</div>
	</div>
	<div id="projects-splash-wrapper">
		<% if (projects.length == 0) { %>
			<h2>No Projects</h2>
		<% } else { %>
			<% for (var i=0;i<4;i++) { %>
			<%= '<div class="project-wrapper" id="project' + i + '" style="left:' + (i*25) + '%">' %>
					<div class="container-fluid project-container">
						<div class="row-fluid">
							<div class="span1"></div>
							<div class="span10 center" style="padding:0 10%">
								<% if (!projects[i]) { %>
									<h2>No such project</h2>
								<% } else { %>
									<div style="width:100%; padding-bottom:20px"><img src="img/usemine-blueprint.png" alt="UseMine"/></div>
									<h5><%= projects[i].shortdesc %></h5>
								<% } %>
							</div>
							<div class="span1"></div>
						</div>
					</div>
				</div>
			<% } %>
		<% } %>
	</div>
</div>

<div class="full-width splash cv-splash-container">
	<div class="container-fluid splash-inner" id="cv-splash">
		<div class="row-fluid">
			<div class="span2"></div>
			<div class="span8">
				<div class="home-cv">

				</div>
			</div>
			<div class="span2"></div>
		</div>
	</div>
</div>

<div class="full-width splash blog-splash-container">
	<div class="container-fluid splash-inner" id="blog-splash">
		<div class="row-fluid center">
			<div class="span12">
				<h1 class="title dark">Blog</h1>
			</div>
		</div>
	</div>
</div>